<!-- START NAV -->
<nav class="navbar is-info">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item is-size-5" href="../">
                <%# image_tag "bulma.png", alt: "plesir" %>
                Plesir.com
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item">
                    Natural
                </a>
                <a class="navbar-item">
                    Culture
                </a>
                <a class="navbar-item">
                    Culinary
                </a>
                <a class="navbar-item">
                    Event
                </a>
                <% if user_signed_in? %>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <%= current_user.username %>
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="/articles">
                                Dashboard
                            </a>
                            
                            <li><%= link_to 'Settings', edit_user_registration_path, class: "navbar-item" %></li>
                            <hr class="navbar-divider">

                            <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "navbar-item" %>
                        </div>
                    </div>
               <% else %>
                    <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
                    <%= link_to "sign in", new_user_session_path, class: "navbar-item" %>
               <% end %>
               
            </div>
        </div>
    </div>
</nav>
<!-- END NAV -->
<script>
    (function () {
        var burger = document.querySelector('.burger');
        var menu = document.querySelector('#' + burger.dataset.target);
        burger.addEventListener('click', function () {
            burger.classList.toggle('is-active');
            menu.classList.toggle('is-active');
        });
    })();

</script>